$bg-color: #F8F8F8;
$font-color: #333333;
$theme-color: #007AFF;
$app-nav-height: 159rpx;

@mixin flex($c: row) { // flex布局
	display: flex;
	align-items: center;
	flex-direction: $c;
	justify-content: center;
}

.nav-bar {
	width: 100%;
	height: 66rpx;
	position: relative;
	margin-bottom: 4rpx;
	.nav-bar-items {
		@include flex();
		height: 60rpx;
		.nav-bar-item {
			@include flex();
			flex: 1;
			height: 100%;
			font-size: 32rpx;
			&.active {
				color: #FF0000;
				font-size: 36rpx;
			}
		}
	}
	.nav-bar-drog {
		@include flex();
		left: 0rpx;
		bottom: 0rpx;
		height: 8rpx;
		width: 150rpx;
		position: absolute;
		text {
			height: 100%;
			width: 72rpx;
			border-radius: 8rpx;
			background: #FF0000;
		}
	}
}
.nav-view {
	flex: 1;
	width: 100%;
	swiper {
		width: 100%;
		height: 100%;
		scroll-view {
			float: left;
			.item {
				float: left;
				width: 47vw;
				height: 47vw;
				overflow: hidden;
				margin: 0 0 2vw 2vw;
				border-radius: 16rpx;
				&.add {
					@include flex();
					color: #C0C0C0;
					font-size: 240rpx;
					box-sizing: border-box;
					border: 1rpx solid #C0C0C0;
				}
			}
			.nomore {
				@include flex();
				width: 100vw;
				height: 66rpx;
			}
		}
	}
}

.app-item {
	@include flex();
	width: 100%;
	height: 88rpx;
	font-size: 32rpx;
	margin-top: 24rpx;
	justify-content: space-between;
	border-bottom: 1rpx solid #CCCCCC;
	.left {
		color: #FF0000;
		font-size: 55rpx;
	}
}

.good-info-item {
	@include flex();
	width: 100%;
	height: 88rpx;
	font-size: 32rpx;
	margin-top: 24rpx;
	justify-content: space-between;
	border-bottom: 1rpx solid #CCCCCC;
}

.fixed-shop-car {
	position: fixed;
	right: -111rpx;
	bottom: -111rpx;
	border-radius: 50%;
	width: 222rpx;
	height: 222rpx;
	background: rgba(0, 0, 0, .3);
}

.theme-color {
	color: $theme-color;
}

.bold {
	font-weight: bold;
}

.margin-top {
	margin-top: 24rpx;
}

.ellipsis { // 文字溢出打点换行
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}